<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12 text-center">
              <p class="copyright text-muted">
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                All rights reserved
              </p>

              <a 
              data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a
          class="btn text-white btn-floating m-1"
          
          href="https://github.com/DimalshaMadushani"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
    
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          href="https://www.linkedin.com/in/dimalsha-madushani-495417225/"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

            </div>
          </div>
          
    </div>
</footer>