<footer class="py-3 mt-auto footer bg-dark">
  <div class="container">
    <span class="text-white"> &copy; YelpCamp 2024</span>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas explicabo dicta non doloremque veritatis nostrum maxime ea facere eum ut perferendis, vero dolorum reiciendis voluptatum aliquid in temporibus soluta commodi!
  </div>
</footer>
