<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/register.css">
<div class="container col-md-6 justify-content-center align-items-center ">
    <form action="/register"  method="POST" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label text-white" for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" required>
            <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-3">
            <label class="form-label text-white" for="email">E-mail</label>
            <input class="form-control" type="email" id="email" name="email" required>
            <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-3">
            <label class="form-label text-white" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
            <div class="valid-feedback">Looks good!</div>
        </div>

        <button type="submit" class="btn btn-success w-100">Register</button>
    </form>
</div>















